


- name: Create Docker Network
  become: true
  shell: "docker network create mysql --subnet=192.168.0.0/16"
  ignore_errors: yes

- name: Create Mysql Management
  become: true
  shell: "docker run -d --net=mysql --name=management1 --ip=192.168.0.2 mysql/mysql-cluster ndb_mgmd"
  ignore_errors: yes

- name: Create Mysql Data Node 1
  become: true
  shell: "docker run -d --net=mysql --name=ndb1 --ip=192.168.0.3 mysql/mysql-cluster ndbd"

- name: Create Mysql Data Node 2
  become: true
  shell: "docker run -d --net=mysql --name=ndb2 --ip=192.168.0.4 mysql/mysql-cluster ndbd"

- name: Create Mysql Service Node 1
  become: true
  shell: "docker run -d --net=mysql --name=mysql1 --ip=192.168.0.10 -e MYSQL_ROOT_PASSWORD='{{ MYSQL_ROOT_PASSWORD }}'  mysql/mysql-cluster mysqld"

#- name: Verify
#  become: true
#  shell: "docker run -it --net=mysql mysql/mysql-cluster ndb_mgm"



#shell: "docker run -d -p 33060:3306 --name mysql-db -e MYSQL_ROOT_PASSWORD={{ MYSQL_ROOT_PASSWORD }} mysql/mysql-server:8.0"
  



